<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mini Message Board</title>
</head>
<body>
    <% messages.map((message, idx) => { %>
        <li><%= message.text %> - <%= message.user %> <a href="/details/<%= idx %>"><button>Details</button></a></li>
    <% }) %>
    <a href="/new"><button>Add Message</button></a>
</body>
</html>